<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Hadoop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type=text/javascript src="{{  url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
</head>

<body>
    <div class="container-fluid">
        <section>
            <header>
                {% block header %}{% endblock %}
            </header>
            {% block content %}{% endblock %}
        </section>
    </div>
</body>

